<.header>
  Story <%= @story.id %>
  <:subtitle>This is a story from a user on our websited.</:subtitle>
</.header>

<.list>
  <:item title="Title"><%= @story.title %></:item>
  <:item title="Body"><%= @story.body %></:item>
  <:item title="Name"><%= @story.user.name %></:item>
</.list>

<.back navigate={~p"/"}>Back to Home</.back>
