<.header>
  Story <%= @story.id %>
  <:subtitle>This is a story from a user on our websited.</:subtitle>
</.header>

<.list>
  <:item title="Title"><%= @story.title %></:item>
  <:item title="Body"><%= @story.body %></:item>
  <:item title="Name"><%= @story.user.name %></:item>
</.list>

<%!-- 외부 render module 을 가져오는 방법 --%>
<BlogWeb.CommentLive.Test.render/> 

<.back navigate={~p"/"}>Back to Home</.back>
